poke-keyboard {
  display: block;
  height: var(--height-keyboard);
  margin: auto 8px 0;
  user-select: none;
  touch-action: manipulation;
}

poke-keyboard .row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  overflow: hidden;
}

poke-keyboard button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: var(--height-button);
  border-radius: var(--border-radius);
  cursor: pointer;
  user-select: none;
  color: var(--color-100-gray);
  background-color: transparent;
  text-transform: uppercase;

  position: relative;
}

poke-keyboard button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

poke-keyboard button {
  background: linear-gradient(
      to bottom,
      rgba(var(--color-button-base), 0.8) 0%,
      rgba(var(--color-button-base), 0.7) 100%
    ),
    url("/noise.svg");
  box-shadow: inset -6px -6px 0px 0px var(--color-button-dark);
}

poke-keyboard button[data-type="key"] {
  --color-button-lite: var(--color-100-blue);
  --color-button-base: var(--color-200-blue-rgb);
  --color-button-dark: var(--color-300-blue);
}

poke-keyboard button[data-type="enter"] {
  --color-button-lite: var(--color-100-green);
  --color-button-base: var(--color-200-green-rgb);
  --color-button-dark: var(--color-300-green);
}

poke-keyboard button[data-type="backspace"] {
  --color-button-lite: var(--color-400-gray);
  --color-button-base: var(--color-500-gray-rgb);
  --color-button-dark: var(--color-600-gray);
}

poke-keyboard button {
  transition: all 0.1s ease;
}

poke-keyboard button.is-down {
  transform: translate(1px, 1px);
  box-shadow: inset 2px 2px 0px 0px var(--color-button-dark),
    inset -2px -2px 0px 0px var(--color-button-dark);
}

poke-keyboard button:last-of-type {
  margin: 0;
}

poke-keyboard button:focus-visible {
  outline: none;
}

poke-keyboard button > svg {
  position: absolute;
}

poke-keyboard .small {
  flex: 0.5;
}

poke-keyboard .big {
  flex: 1.5;
  font-size: 8px;
}
