poke-display {
  --color-display-lite: var(--color-100-gray);
  --color-display-base: var(--color-200-gray);
  --color-display-dark: var(--color-300-gray);

  --color-screen-base: var(--color-100-green);
  --color-screen-dark: var(--color-200-green);
}

poke-display[poke-signal="pending"] {
  --color-signal-lite: var(--color-100-yellow);
  --color-signal-base: var(--color-200-yellow);
  --color-signal-dark: var(--color-300-yellow);
  --color-signal-deep: var(--color-400-yellow);
}

poke-display[poke-signal="success"] {
  --color-signal-lite: var(--color-100-green);
  --color-signal-base: var(--color-200-green);
  --color-signal-dark: var(--color-300-green);
  --color-signal-deep: var(--color-400-green);
}

poke-display[poke-signal="error"] {
  --color-signal-lite: var(--color-100-red);
  --color-signal-base: var(--color-200-red);
  --color-signal-dark: var(--color-300-red);
  --color-signal-deep: var(--color-400-red);
}

poke-display {
  height: 384px;
  overflow: hidden;
  margin: 0 8px 8px;
  padding: 56px 56px 96px;
  position: relative;
}

poke-display .signal {
  left: 56px;
  top: calc(100% - 44px - 34px);
}

poke-display .screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
}

poke-display .output {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

poke-display svg {
  position: absolute;
  inset: 0;
  z-index: -1;
}
