poke-display {
  --color-display-lite: var(--color-100-gray);
  --color-display-base: var(--color-200-gray);
  --color-display-dark: var(--color-300-gray);

  --color-screen-base: var(--color-100-green);
  --color-screen-dark: var(--color-200-green);

  --color-signal-hint: var(--color-300-gray);
  --color-signal-dark: var(--color-600-gray);
  --color-signal-deep: var(--color-700-gray);
}

poke-display[poke-signal="pending"] {
  --color-signal-lite: var(--color-display-base);
  --color-signal-base: var(--color-display-dark);
  --color-signal-light: transparent;
}

poke-display[poke-signal="success"] {
  --color-signal-lite: var(--color-100-green);
  --color-signal-base: var(--color-200-green);
  --color-signal-light: var(--color-400-green);
}

poke-display[poke-signal="error"] {
  --color-signal-lite: var(--color-100-red);
  --color-signal-base: var(--color-200-red);
  --color-signal-light: var(--color-300-red);
}

poke-display {
  height: 312px;
  overflow: hidden;
  margin: 8px;
  padding: 36px 36px 64px;
  position: relative;
  overflow: visible;
  transition: all 0.2s ease;
}

@media (min-width: 440px) {
  poke-display {
    height: 384px;
    padding: 56px 56px 96px;
    margin-top: 16px;
  }
}

poke-display .signal {
  transform: translateX(-50%);
  top: calc(100% - 44px - 18px);
  left: 58px;
  transition: all 0.2s ease;
}

@media (min-width: 440px) {
  poke-display .signal {
    top: calc(100% - 44px - 44px);
    left: 78px;
  }
}

poke-display .signal-light {
  width: 176px;
  height: 176px;
  left: -30px;
  top: calc(100% - 44px - 84px);
  z-index: 666;
  position: absolute;
  mix-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
      circle,
      transparent 21px,
      var(--color-signal-light) 21px,
      transparent 64px
    ),
    url("/noise.svg");
  filter: contrast(150%) brightness(160%);
  transition: all 0.2s ease;
}

@media (min-width: 440px) {
  poke-display .signal-light {
    top: calc(100% - 44px - 110px);
    left: -10px;
  }
}

poke-display .signal svg {
  position: relative;
}

poke-display .screen {
  height: 100%;
  min-height: calc(32px + 96px);
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  transition: all 0.2s ease;
}

poke-display .output {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

poke-display svg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

poke-display img {
  opacity: 0.7;
  height: 100%;
  image-rendering: pixelated;
  object-fit: contain;
}
