---
import Button from "./Button.astro";
---

<poke-keyboard>
  <div class="row">
    <Button key="q" type="key" />
    <Button key="w" type="key" />
    <Button key="e" type="key" />
    <Button key="r" type="key" />
    <Button key="t" type="key" />
    <Button key="z" type="key" />
    <Button key="u" type="key" />
    <Button key="i" type="key" />
    <Button key="o" type="key" />
    <Button key="p" type="key" />
  </div>
  <div class="row">
    <div class="spacer small"></div>
    <Button key="a" type="key" />
    <Button key="s" type="key" />
    <Button key="d" type="key" />
    <Button key="f" type="key" />
    <Button key="g" type="key" />
    <Button key="h" type="key" />
    <Button key="j" type="key" />
    <Button key="k" type="key" />
    <Button key="l" type="key" />
    <div class="spacer small"></div>
  </div>
  <div class="row">
    <Button key="enter" type="enter" class="big" />
    <Button key="y" type="key" />
    <Button key="x" type="key" />
    <Button key="c" type="key" />
    <Button key="v" type="key" />
    <Button key="b" type="key" />
    <Button key="n" type="key" />
    <Button key="m" type="key" />
    <Button key="backspace" type="backspace" class="big" />
  </div>
</poke-keyboard>

<script>
  class PokeKeyboard extends HTMLElement {
    constructor() {
      super();
      this._typingSoundSources = [
        '/typing-sound-1.mp3',
        '/typing-sound-2.mp3',
      ];
      this._allowedKeys = [
        'q', 'w', 'e', 'r', 't', 'z', 'u', 'i', 'o', 'p',
        'a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l',
        'y', 'x', 'c', 'v', 'b', 'n', 'm',
        'Enter', 'Backspace',
      ];
    }

    get allowedKeys() {
      return this._allowedKeys;
    }

    get buttons() {
      return this.querySelectorAll('button');
    }

    get typingSoundSouces() {
      return this._typingSoundSources;
    }

    deletegateKeyEventToPointerHandler(e) {
      const currentTarget = this.querySelector(`button[data-key="${e.key.toLowerCase()}"]`);
      e.type === 'keydown'
        ? this.onPointerDown({currentTarget})
        : this.onPointerUp({currentTarget});
    }

    typingAudioPlay() {
      const soundSrc = this.typingSoundSouces[Math.floor(Math.random() * this.typingSoundSouces.length)];
      new Audio(soundSrc).play();
    }

    dispatchCustomPokeEvent(e) {
      const type = e.currentTarget.dataset.type;
      const key = e.currentTarget.dataset.key;
      this.dispatchEvent(new CustomEvent(`poke${type}down`, {
        detail: { key },
        bubbles: true,
      }));
    }

    classIsDownToggle(e) {
      e.currentTarget.classList.toggle('is-down');
    }

    classIsDownRemove(e) {
      e.currentTarget.classList.remove('is-down');
    }

    onPointerLeave(e) {
      this.classIsDownRemove(e)
    }

    onPointerUp(e) {
      this.classIsDownToggle(e);
    }

    onPointerDown(e) {
      if ('vibrate' in navigator) navigator.vibrate(42);
      this.typingAudioPlay();
      this.classIsDownToggle(e);
      this.dispatchCustomPokeEvent(e);
    }

    onKeyDownOrUp(e) {
      if (!this.allowedKeys.includes(e.key)) return;
      this.deletegateKeyEventToPointerHandler(e);
    }

    connectedCallback() {
      document.body.addEventListener('keydown', this.onKeyDownOrUp.bind(this));
      document.body.addEventListener('keyup', this.onKeyDownOrUp.bind(this));
      this.buttons.forEach((button) => {
        button.addEventListener('pointerdown', this.onPointerDown.bind(this));
        button.addEventListener('pointerup', this.onPointerUp.bind(this));
        button.addEventListener('pointerleave', this.onPointerLeave.bind(this));
      });
    }

    disconnectedCallback() {
      document.body.addEventListener('keydown', this.onKeyDownOrUp.bind(this));
      document.body.addEventListener('keyup', this.onKeyDownOrUp.bind(this));
    }
  }
  customElements.define("poke-keyboard", PokeKeyboard);
</script>