---

---

<poke-display poke-src="" poke-signal="pending">
  <svg width="100%" height="100%" aria-hidden="true">

    <svg viewBox="0 0 224 176" preserveAspectRatio="none">
      <path fill="var(--color-display-base)" d="m163.23437,175.69352l-158.90009,0c-2.20974,0 -4.0177,-1.83713 -4.0177,-4.08252l0,-167.38332c0,-2.24539 1.80797,-4.08252 4.0177,-4.08252l211.13021,0c2.20974,0 4.0177,1.83713 4.0177,4.08252l0.4783,115.7686c-1.91319,34.7403 -28.75526,55.21122 -56.72612,55.69724z"/>
    </svg>

    <svg viewBox="0 0 224 176" preserveAspectRatio="xMinYMax">
      <path fill="var(--color-signal-dark)" d="m20.27383,144.23472c-8.21493,0.21559 -12.66015,6.31159 -12.24745,13.05231c0.3819,6.22946 5.55396,11.6089 12.47946,11.49186c7.57227,-0.12935 11.81011,-5.97897 12.03186,-12.15095c0.24639,-6.81053 -5.57243,-12.5698 -12.26387,-12.39323z"/>
      <path fill="var(--color-signal-deep)" d="m20.3539,146.99219c-6.22741,0.16631 -9.67887,4.98727 -9.43249,10.19423c0.22175,4.71214 4.31997,8.97462 9.56594,8.74466c5.35685,-0.23407 8.88222,-4.42263 9.12245,-9.3791c0.25255,-5.25419 -4.18446,-9.6953 -9.25591,-9.55979z"/>
      <path fill="var(--color-signal-base)" d="m20.24714,148.39864c-5.33221,0.13962 -8.15333,4.10028 -7.92953,8.60915c0.19506,3.96271 3.69579,7.43265 8.19234,7.35668c4.91541,-0.08418 7.62771,-3.64652 7.81044,-7.88847c0.1889,-4.42263 -3.72864,-8.19234 -8.07326,-8.07736z"/>
      <path fill="var(--color-signal-lite)" d="m13.74254,155.33442c0.5133,0.16631 0.85825,-1.57071 2.64865,-3.01207c1.78835,-1.43931 3.74096,-1.52349 3.69169,-2.33451s-2.10866,-0.66114 -3.36112,0.08213c-1.22577,0.72889 -2.30166,1.67132 -2.89709,3.14553c-0.34494,0.85209 -0.46608,1.99573 -0.08213,2.11892z"/>
      <path fill="var(--color-signal-lite)" d="m15.36458,146.42755c-0.25665,-0.34905 -1.35718,-0.0657 -2.6158,1.05946c-1.05741,0.94653 -1.58919,2.15177 -1.19292,2.49877c0.39832,0.34699 1.2422,-0.74532 2.11892,-1.53991s2.15177,-1.38798 1.6898,-2.01831zm14.48546,14.28835c-0.68167,-0.24228 -0.926,0.86646 -1.2422,1.3736c-1.42288,2.28523 -3.39397,3.3796 -4.55199,3.89085c-0.71247,0.31414 -1.35718,0.33057 -1.14159,1.02661c0.16631,0.53589 1.32433,0.08418 1.72265,-0.08213c0.71247,-0.29772 2.08607,-1.06151 3.16196,-2.03679c1.04303,-0.94448 1.72881,-1.90128 2.08607,-2.84781c0.08008,-0.22175 0.47635,-1.14364 -0.0349,-1.32433z"/>
    </svg>
    
  </svg>

    <div class="screen">
      <div class="output">
        <img src="" alt="">
      </div>
      <poke-input poke-value=""></poke-input>
    </div>
</poke-display>

<script>
   class PokeDisplay extends HTMLElement {
    constructor() {
      super();
    }

    get img() {
      return this.querySelector('img');
    }

    static get observedAttributes() { 
      return ['poke-src'];
    }

    attributeChangedCallback(name, oldValue, newValue) {
      this.img.setAttribute('src', newValue);
    }
  }
  customElements.define("poke-display", PokeDisplay);

  class PokeInput extends HTMLElement {
    constructor() {
      super();
    }

    static get observedAttributes() { 
      return ['poke-value'];
    }

    attributeChangedCallback(name, oldValue, newValue) {
      this.innerText = newValue;
    }

  }
  customElements.define("poke-input", PokeInput);
</script>