---

---

<poke-display poke-src="">
    <div class="screen">
      <img src="" alt="">
    </div>
</poke-display>

<script>
   class PokeDisplay extends HTMLElement {
    constructor() {
      super();
    }

    get img() {
      return this.querySelector('img');
    }

    static get observedAttributes() { 
      return ['poke-src'];
    }

    attributeChangedCallback(name, oldValue, newValue) {
      this.img.setAttribute('src', newValue);
    }
  }
  customElements.define("poke-display", PokeDisplay);
</script>