---
import '@css/main.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#aa3535">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="#aa3535" />
		<meta name="description" content="A Wild Pokédex Appears!">
		<meta name="generator" content={Astro.generator} />
		<title>Poooodéx</title>

		<meta property="og:url" content="https://pooookedex.netlify.app/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Poooodéx">
		<meta property="og:description" content="A Wild Pokédex Appears!">
		<meta property="og:image" content="https://pooookedex.netlify.app/open-graph/og-poke.png">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:domain" content="pooookedex.netlify.app">
		<meta name="twitter:url" content="https://pooookedex.netlify.app/">
		<meta name="twitter:creator" content="@doooooooomiki">
		<meta name="twitter:title" content="Poooodéx">
		<meta name="twitter:description" content="A Wild Pokédex Appears!">
		<meta name="twitter:image" content="https://pooookedex.netlify.app/open-graph/og-poke.png">
        
	</head>
	<body>
		<slot />
	</body>
</html>