---
import '@css/main.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#aa3535">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="#aa3535" />
		<meta name="generator" content={Astro.generator} />
		<title>Poooodéx</title>
	</head>
	<body>
		<slot />
	</body>
</html>