@font-face {
  font-family: "pokefont";
  src: url("/pokefont.ttf") format("truetype");
  font-display: swap;
}

:root {
  --height-keyboard: 192px;
  --height-header: 40px;
  --height-input: 56px;
  --height-button: 56px;

  --max-width-game: 480px;

  --color-100-red: #ec6d6c;
  --color-200-red: #e05959;
  --color-300-red: #d94a4a;
  --color-400-red: #bc4343;
  --color-400-red-rgb: 188, 67, 67;
  --color-500-red: #aa3535;

  --color-100-blue: #7bd0de;
  --color-200-blue: #23b1c9;
  --color-200-blue-rgb: 35, 177, 201;
  --color-300-blue: #309daf;
  --color-300-blue-rgb: 48, 157, 175;
  --color-400-blue: #348997;

  --color-100-green: #92dbcb;
  --color-200-green: #21b698;
  --color-200-green-rgb: 33, 182, 152;
  --color-300-green: #2ba188;
  --color-300-green-rgb: 3, 161, 136;
  --color-400-green: #227b68;

  --color-100-gray: #eae7e7;
  --color-200-gray: #d2d0d0;
  --color-300-gray: #b6b4b4;
  --color-400-gray: #858585;
  --color-500-gray: #666666;
  --color-500-gray-rgb: 102, 102, 102;
  --color-600-gray: #5c5c5c;
  --color-700-gray: #4d4d4d;

  --color-100-yellow: #fbf5ab;
  --color-200-yellow: #feee6a;
  --color-300-yellow: #e6d442;
  --color-400-yellow: #cfbd2b;

  --border-radius: 4px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-y: hidden;
  font-family: pokefont;
  background: linear-gradient(
      to bottom,
      rgba(var(--color-400-red-rgb), 0.9) 0%,
      rgba(var(--color-400-red-rgb), 0.9) 100%
    ),
    url("/noise.svg");
}

header {
  height: var(--height-header);
}
